*{
    margin:0px;
    padding:0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.counter{
    display: flex;
    justify-content: center;

}
button, h1{
    margin: 20px 30px;
    padding: 5px;
}